* {         /* * to select all the tags at once*/
    margin: 0;                /* spacing of the website*/
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
    background-position: center;
    background-size: cover;
}
.navbar{
    position: absolute;   /*fixed position of navbar*/
    top: 0;               /*fixed at the top of the website*/
    width: 100%;          /*width of  navbar is 100*/
    display: flex;        /* flex is the property used to align the nav items in a same row*/
    justify-content: space-between;
    padding: 2% 5%;   /*3--> top and botton,5-->right and left*/
    z-index: 10;
}
.navbar_netflix{
    height: 100px;
    width: 125px;
}
.navbar_nav_items{
    display: flex;
    gap: 20px;
}
.netflix_logo{
    width:150px;
    height:100px;
}
.signin_button{
    border-radius: 4px ;
    border: #dc030f;
    background-color: #dc030f;
    color: white;
    height: 35px;
    width: 100px;
}
.languagedd{
    background: transparent;
    border: none;
    color: white;
}
.dropdown_container{
    border: 1px solid white;
    padding: 0.4rem;  /*rem-->16px*/
    border-radius: 4px;
    background: rgba(0,0,0,0.4);
}
.herobg_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bg_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bg_overlay{
    position: absolute;
    inset: 0;   /* it overlay the prsent div tag over the previous div tag*/
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);   
}
.hero_card{
    position: absolute;
    top: 30%;
    left: 15%;
    text-align: center;
    display: flex;
    flex-direction: column;  /*bydefault row hota h*/
    gap: 10px;
}
.hero_title{
    font-weight: 600;   /*how much bold do you want to be the text*/
    color: white;
    font-size: 3rem;
}
.hero_subtitle,
.hero_desc{
    font-weight: 400;
    font-size: 1.3rem;
    color: white;
}
.email{
    width: 400px;
    height: 50px;
    background: transparent;
    border-color: white;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    padding: 0.25rem 0.5rem;
}
.get_started{
    border: #dc030f;
    background-color: #dc030f;
    color: white;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    font-size: 25px;
}
.stylecards h1{
    font-size: 3rem;
    padding: 1rem;
    padding-left: 0;
}
.stylecards h3{
    font-size: 1.6rem;
    line-height: 2rem;
}
.card1,
.card2,
.card3,
.card4{
    border-top: 8px grey;
    padding: 50px;
}
.card1{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}
.desc1{
    padding-left: 80px;
}
.card1 video{
    position: relative;
    width: 100%;
    height: 100%;
    grid-column: 2/2 ;
    grid-row: 1/2;
    z-index: -1;
}
.card1 img{
    grid-column: 2/2;
    grid-row: 1/2;
}
.card2{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}
.desc2{
    padding-left: 100px;
}
.card3 img{
    grid-column: 2/2;
    grid-row: 1/2;
}
.card3{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}
.desc3{
    padding-left: 80px;
    padding-right: 20px;
}
.card3 img{
    width: 110%;
    grid-column: 2/2;
    grid-row: 1/2;

}
.card3 video{
    position: relative;
    top: -87px;
    left: 125px;
    width: 65%;
    height: 78%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
}
.card4{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}
.desc4{
    padding-left: 80px;
}
.card4 img{
    grid-column: 2/2;
    grid-row: 1/2;
}
.footer,
.footer a{   /*a is for the text inside footer*/
    color: #999;
    font-size: 0.9rem;
}
.footer p{
    margin-bottom: 1.5rem;
    padding-left: 50px;
}
.footer .footerclm{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    padding-left: 50px;
}
.footer li{
   line-height: 1.9; 
}



